<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>There are some error occurred while processing your action, please check again!!!!</h1>
        @Html.ActionLink("Back to home","Index","Home", null, new { @class = "btn btn-primary"})
    </hgroup>
</body>
</html>
